{%extends 'dash.html'%}

{%block remindersblock%}
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <table class="table table-striped">
            <tr class="">
                <th>name</th>
                <th>time</th>
                <th>Action</th>
                
            </tr>
            {%for t in tasks%}
            <tr>
                
                <td>{{t.todo_item}}</td>

                <td>{{t.time}}</td>

                <td>
                    <a href="" class="btn btn-outline-info">View</a>
                    
                </td>
                
            </tr>
            {%endfor%}
        </table>
    </div>

    <div class="col-2">
    
    </div>
    
</div>


<div class="row">
    <div class="col-5"></div>
    <div class="col-3">
        <a href="{%url 'reminder_create'%}" class="btn btn-outline-info">Add reminder</a>
    </div>
    <div class="col-4"></div>
</div>
{%endblock%}